# Dev
DB_HOST=localhost
DB_PORT=5432
DB_NAME=skincare
DB_USER=postgres
DB_PASSWORD=password123
PORT=5050

# Production w Supabase
DATABASE_URL={database connection string here}
FORCE_SYNC=false
NODE_ENV=production

# Auth 
TRUSTED_ORIGINS=http://localhost:3000,https://yourdomain.com
BETTER_AUTH_SECRET={better auth api string here}
BETTER_AUTH_URL={localhost or server url}

# OAuth
GOOGLE_CLIENT_ID={google oauth info}
GOOGLE_CLIENT_SECRET={google oauth secret}

# AWS SES 
AWS_REGION=us-east-2
AWS_ACCESS_KEY_ID={aws access key id}
AWS_SECRET_ACCESS_KEY={aws secret access key}
SES_FROM_EMAIL={domain email}
TEST_SES_TO_EMAIL={recepient email}

# Admin Emails
ADMIN_EMAILS={admin email}